.SubStoryContainer{
	flex-basis: 100%;
}

.SubStory {
    background-position: center;
    background-size: cover;
    height: 50vh;
    margin: 1.5vh 0;
    width: 100%;
    border: 4px solid #32B2C4;
    position: relative;
}

/*@media (max-width: 1024px) {
    .SubStory {}
}
*/
.SubStory::after {
    background: #32B2C4;
    content: '';
    display: block;
    height: 0.6vh;
    margin: 1vh auto 0;
    width: 6vh;
}
