.Paragraph{
    font-size: 3vh;
    text-align: center;
}

@media (min-width: 600px) {
    .Paragraph {
        font-size: 4.5vh;
    }
}

@media (min-width: 1024px){
    .Paragraph{
        line-height: 1.5;
    }
}
