@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
html {
    background-color: #1d1d1d;
}

body {
    color: #fdfdfb;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

a {
    text-decoration: none;
}
