.App {
    background-color: #111;
    color: #fdfdfb;
    margin: 0;
    padding: 0;
    font-family: "DINNextW01-CondensedMed", "AvenirNextCondensed-Bold", "Futura-CondensedExtraBold", HelveticaNeue-CondensedBold, "Ubuntu Condensed", "Liberation Sans Narrow", "Franklin Gothic Demi Cond", "Arial Narrow", sans-serif-condensed, Arial, "Trebuchet MS", "Lucida Grande", Tahoma, sans-serif;
    font-stretch: condensed;
    text-transform: uppercase;
}

.App a {
    text-decoration: none;
}
