.SubStoryLarge {
    background-position: center;
    background-size: cover;
    flex-basis: 49%;
    height: 22em;
    margin: 1.5vh auto;
    width: 100%;
}

@media (min-width: 1024px){
	.SubStoryLarge{
		flex-basis: 49%;
/*		height: 52vh;*/
	}
}