.LeadStory {
    background-size: cover;
    box-shadow: 1px 1px 1px #949493;
    height: 50vh;
    margin: 1.5vh 0;
    width: 100%;
}

@media (max-width: 1024px) {
    .LeadStory {
        background-position: center;
    }
}

.LeadStory::after {
    background: #fdfdfb;
    content: '';
    display: block;
    height: 1vh;
    margin: 1vh auto 0;
    width: 6vh;
}

@media (min-width: 768px) {
    .LeadStory {
        height: 75vh;
    }
}

@media (min-width: 1024px) {
    .LeadStory {
        height: 60vh;
    }
}
