.LeadStory {
    background-position: center;
    background-size: cover;
    height: 50vh;
    margin: 3vh 0;
    width: 100%;
}

.LeadStory::after{
    background: #fdfdfb;
    content: '';
    display: block;
    height: 1vh;
    margin: 1vh auto 0;
    width: 6vh;
}

@media (min-width: 768px) {
    .LeadStory {
        height: 75vh;
    }
}

@media (min-width: 1024px) {
    .LeadStory {
        height: 60vh;
    }
}
