.AppSubtitle{
	color: #fff;
	font-family: sans-serif;
	font-size: 3.5vh;
	font-weight: 300;
	line-height: 1.3;
	margin: 0 auto;
	text-align: center;
/*	padding-top: 25vh;*/
/*	width: 95%;*/
}

@media (min-width: 768px){
	.AppSubtitle{
		font-size: 5.5vh;
		width: 75%;
/*		padding-top: 35vh;*/
	}
}

@media (min-width: 1024px){
	.AppSubtitle{
		font-size: 6.5vh;
	}
}