.Headline {
    color: #fdfdfb;
    font-size: 1.5em;
    font-weight: 100;
    line-height: 1.3;
    margin: 0 auto;
    padding-top: 20%;
    text-align: center;
    width: 80%;
    letter-spacing: .35em;
}

@media (min-width: 500px) {
    .Headline {
        padding-top: 15%;
    }
}

@media (min-width: 640px) {
    .Headline {
        padding-top: 12%;
    }
}

@media (min-width: 768px) {
    .Headline {
        font-size: 1.75em;
        padding-top: 24%;
    }
}

@media (min-width: 1024px) {
    .Headline {
        font-size: 2em;
        padding-top: 20%;
    }
}

@media (min-width: 1120px) {
    .Headline {
        padding-top: 18%;
    }
}

@media (min-width: 1300px) {
    .Headline {
        padding-top: 15%;
    }
}

@media (min-width: 2425px) {
    .Headline {
        padding-top: 12%;
    }
}
